.hr{
    font-size: 70px;
}

.img{
    position: relative;
    left: 300px;
    border: 100px;
    display: inline;
    background-color: rgb(224, 26, 26)24, 26, 26);
}
.tb{
    display:inline;
    background-color: blueviolet;
}