.p{
    margin: 0;
    padding: 0;
    border:5px solid black;
    display: grid;
    grid-template-columns:  1fr 1fr 1fr 1fr 1fr 1fr ;
    grid-template-rows: 225px 225px 225px;
}
.c1{
    border:10px solid black;
    background-color: brown;
}
.c2{
    border:10px solid black;
    background-color:burlywood;
}
.c3{
    border:10px solid black;
    background-color:cadetblue;
}
.c4{
    border:10px solid black;
    background-color: coral;
}
.c4{
    border:10px solid black;
    background-color:cornflowerblue;
}
.c5{
    border:10px solid black;
    background-color:darkgoldenrod;
}
.c6{
    border:10px solid black;
    background-color:darkseagreen;
}
.c7{
    border:10px solid black;
    background-color:darkslateblue;
}
.c8{
    border:10px solid black;
    background-color:deepskyblue;
}
.c9{
    border:10px solid black;
    background-color:indianred;
}
.c10{
    border:10px solid black;
    background-color:magenta;
}
.c11{
    border:10px solid black;
    background-color:mediumseagreen;
}
.c12{
    border:10px solid black;
    background-color:olivedrab;
}
.c13{
    border:10px solid black;
    background-color:plum;
}
.c14{
    border:10px solid black;
    background-color:salmon;
}
.c15{
    border:10px solid black;
    background-color:turquoise;
}
.c16{
    border:10px solid black;
    background-color:wheat;
}
.c17{
    border:10px solid black;
    background-color:royalblue;
}
.c18{
    border:10px solid black;
    background-color:slategray;
}